body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#level-select {
    background-color: inherit;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin-bottom: 40px;

}

#level-select > button {
    width: 15%;
    aspect-ratio: 1;
    font-size: 500%;
    font-family: cherry bomb one;
    color: aqua;
    background-color: green;
}

#level-select > button:hover {
    transform: rotate(5deg);
}

canvas {
    border: solid 1px rgb(255, 255, 255);
    display: none;
}

#level-end-buttons{
    display: none;
    flex-direction: column;
    position: absolute;


    transform: translate(-350px, 175px);

    gap: 30px;

}

#level-end-buttons > button {
    width: 180px;
    aspect-ratio: 1;
    padding: 0;
    
}

#level-end-buttons > button > span {
    font-size: 50px;
    font-variation-settings: 'wght' 600;
}

#level-end-buttons > button:hover {
    transform: rotate(5deg);
}



#bottom-displays {
    display: flex;
    justify-content: flex-end;     /*später space between*/
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
}

.display {
    background-color: white; 
    height: 100px;
    margin: 0;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#rank {
    width: 100px;
    display: none;
}

#user {
    width: 600px;
    gap: 20px;
    display: none;
}

#user > input {
    height: 50px;
    font-size: 40px;
    width: 400px;
    size: 20;
}
    
#timer {
    margin-right: 0px;
    align-items: baseline;
    width: 300px;
    justify-content: flex-end;
    
    display: none;
}

#minutes {
    font-size: 70px;
    display: none;
    width: 40px;
    margin: 0px;
}

#seconds {
    font-size: 50px;
    width: 70px;
    margin: 0px;
    margin-top: 22px;
    
}

#milliseconds {
    font-size: 35px;
    width: 80px;
    margin: 0px;
}
