body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#level-select {
    background-color: inherit;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin-bottom: 40px;

}

#level-select > button {
    width: 15%;
    aspect-ratio: 1;
    font-size: 500%;
    font-family: cherry bomb one;
    color: aqua;
    background-color: green;
}

#level-select > button:hover {
    transform: rotate(5deg);
}

canvas {
    border: solid 1px rgb(255, 255, 255);
    display: none;
}

body > div > div {
    margin: 10px;
    width: 300px;

    background-color: white;
    align-content: center;
}

#timer {
    height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-self: flex-end;
    display: none;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 0px;
    padding: 10px;
}

#minutes {
    font-size: 70px;
    display: none;
    width: 40px;
    margin: 0px;
}

#seconds {
    font-size: 50px;
    width: 70px;
    margin: 0px;
    margin-top: 22px;
}

#milliseconds {
    font-size: 45px;
    width: 80px;
    margin: 0px;
}